*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text

# Linguist example
# ----------------
# linguist-detectable   	languages.yml       Included in stats, even if language's type is data or prose
# linguist-documentation	documentation.yml	  Excluded from stats
# linguist-generated    	generated.rb	      Excluded from stats, hidden in diffs
# linguist-language=name	languages.yml	      Highlighted and classified as name
# linguist-vendored	      vendor.yml	        Excluded from stats

# archives/
#   code-references/
#     cli/
######
.config/                linguist-generated
**.fsproj               linguist-generated
.gitignore              linguist-generated
**.sln                  linguist-generated

#     cmd-runner/
######
bla/
public/                 linguist-generated
global.json             linguist-generated
Nuget.Config            linguist-generated
package.json            linguist-generated
**-lock.*               linguist-generated
README.md               linguist-generated
webpack.config.js       linguist-generated

#   script-references/
#     cljs/
######
main.js                 linguist-generated
