*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text

# # Ignore these, as they are not really code code.
# copy-pastes/** linguist-vendored
# Dockerfile* linguist-vendored
# config-files/vim/vimrc linguist-vendored
# **/*.sh linguist-vendored
# **/*.ps1 linguist-vendored
