# Linguist example
# ----------------
# linguist-detectable        languages.yml         Included in stats, even if language's type is data or prose
# linguist-documentation     documentation.yml     Excluded from stats
# linguist-generated         generated.rb          Excluded from stats, hidden in diffs
# linguist-language=name     languages.yml         Highlighted and classified as name
# linguist-vendored          vendor.yml            Excluded from stats

# Old files that I yet need to review, to see if anything is useful.
archives/** linguist-vendored

# Generated stuff.
dist/** linguist-generated
out/** linguist-generated
compiled/** linguist-generated

# Templates are used as a copy/paste reference.
**/templates/** linguist-vendored
src/shadow_reagent_tailwind_daisyui/** linguist-vendored

# Git LFS
# -------
