{:source-paths
 ["src/dev/marcelocra"]

 :dependencies
 []

 :dev-http
 {8080 "src/cljs/shadow/public/"}

 :builds
 {:bin
  {:target :esm
   :modules {:bin {:exports {bin dev.marcelocra.bin/main}}}
   :output-dir "compiled/bin/"}

  :lib
  {:target :node-library
   :exports-var dev.marcelocra.lib/exports
   :output-to "compiled/cljs-lib.js"}

  ;; New targets above this line.
  }}
