{:source-paths
 ["src/cljs"]

 :dependencies
 []

 :dev-http
 {8080 "src/cljs/shadow/public/"}

 :builds
 {:bin
  {:target :node-script
   :main dev.marcelocra.bin/main
   :output-to "compiled/bin.cjs"
   :compiler-options {:optimizations :advanced}}

  :lib
  {:target :node-library
   :exports-var dev.marcelocra.lib/exports
   :output-to "compiled/lib/cljs-lib.js"}

  ;; New targets above this line.
  }}
