{:min-bb-version "1.3.188"

 :paths []

 :tasks
 {:requires ([babashka.fs :as fs]
             [babashka.cli :as cli]
             [clojure.string :as s])
  :init (do 
          (def cli-options
            {:hello {:default "hello, world!"}})
          (def parsed-cli-args (cli/parse-opts *command-line-args* {:spec cli-options}))

          (println 
            (-> (java.text.SimpleDateFormat. 
                  (format 
                    ;; 21 chars
                    "----- [ yyyy-MM-dd ] %s"
                    (s/join "" (repeat 59 "-"))))
                (.format (java.util.Date.))))

          (defn now
            "Creates a date and time string for the current moment."
            [& {:keys [format-str]}]
            (let [date (java.util.Date.)]
              (-> (java.text.SimpleDateFormat. (if (nil? format-str)
                                                 "HH:mm:ss.SSS"
                                                 format-str))
                  (.format date))))

          (defn logging
            "Logs timestamp with task name."
            [text-to-log]
            (let [log (Object.)
                  current-task-name (:name (current-task))] 
              (locking log
                (println 
                  (format 
                    "%s [%s] %s"
                    (now)
                    (if (nil? current-task-name) "global" current-task-name)
                    text-to-log)))))

          (logging parsed-cli-args))
  :enter (logging "starting")
  :leave (logging "done!")

  ;; Example of a very simple task.
  d {:task (shell "nbb nrepl-server")}

  ;; Example of how to run parallel tasks.
  dev {:doc "Run these during development."
       :task (run '-dev {:parallel true})}
 
  -dev {:depends [-dev-cmd1 -dev-cmd2]}
  -dev-cmd1 {:task (shell "bun d")}
  -dev-cmd2 {:task (shell "bun t")}

  ;; Next task above this line.
 }
 
 ;; Next bb setting above this line.
}
